@import 'core/variables';
@import 'core/mixins';
@import 'layouts/reset';
@import 'core/links';
@import 'layouts/header';
@import 'components/typography';

.section1 {

    padding: 30px 15px 45px 15px;
    max-width: 290px;
    margin: auto;
    font-family: $text-font;
}

.article {
   
    &__small {
        color: $small-color;
    }
    // &__title {
        
    // }
    &__resume {
        color: $article-text-color;
        font-size: 18px;
        line-height: 30px;
    }
    &__buttom {
        display: inline-block;
        width: 76px;
        height: 45px;
        font-size: 20px;
        color: $buttom-color;
        text-decoration-line: none;
        border: 2px solid $buttom-color;
        border-radius: 22.5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.reasons {
    padding: 30px 0 60px 0;
    display: grid;
    text-align: center;
    background-color: $reasons-bg-color;
    font-family: $text-font;

    &__text {
        max-width: 180px;
        margin: auto;
        line-height: 30px;

        &__title {
            margin: 45px 0 0 0;
        }
         
        &__text {
            margin: 0;
            font-size: 18px;
        }
    }

    &__buttom {
        width: 184px;
        height: 45px;
        color: $white;
        background-color: $buttom-color;
        margin: auto;
        margin-top: 45px;
        @include mx-button;
    }

}

@import 'layouts/footer';