@import 'core/variables';
@import 'layouts/reset';
@import 'core/links';
@import 'layouts/header';

.main {
    // * {
    //     box-sizing: border-box;
    // }

    padding: 30px 15px 45px 15px;
    max-width: 290px;
    margin: auto;
    font-family: $text-font;
}

.article {
   
    &__small {
        color: $small-color;
    }
    &__title {
        color: $black;
        font-family: $title-font;
        font-weight: bold;
    }
    &__resume {
        color: $article-text-color;
        font-size: 18px;
        line-height: 30px;
    }
    &__buttom {
        display: inline-block;
        width: 76px;
        height: 45px;
        font-size: 20px;
        color: $buttom-color;
        border: 2px solid $buttom-color;
        border-radius: 22.5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}