<footer class="foot">
    <a href="index.html" class="footer__icon">
        <img class="footer__icon__img" src="./assets/icons/ico-arrow.svg" alt="">
    </a>
    <div class="footer">
        <nav class="footer__nav">
            <ul class="nav__list">
                <li class="nav__list__item">
                    <a href="#article" class="nav__link">
                        Articles
                    </a>
                </li>
                <li class="nav__list__item">
                    <a href="#" class="nav__link">
                        Books
                    </a>
                </li>
                <li class="nav__list__item">
                    <a href="#" class="nav__link">
                        Events
                    </a>
                </li>
                <li class="nav__list__item">
                    <a href="#" class="nav__link">
                        Reasons
                    </a>
                </li>
                <li class="nav__list__item">
                    <a href="#" class="nav__link">
                        Tips
                    </a>
                </li>
            </ul>
        </nav>
        <div class="footer__social">
            <ul class="social__list">
                <li class="social__list__item">
                    <a href="https://twitter.com" class="social__link" target="_blank">
                        Twitter
                    </a>
                </li>
                <li class="social__list__item">
                    <a href="https://www.instagram.com" class="social__link" target="_blank">
                        Instagram
                    </a>
                </li>
                <li class="social__list__item">
                    <a href="https://madisonsocial.com/" class="social__link" target="_blank">
                        Madson.social
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer__copyrigth">
            <p class="footer__copyrigth__text">
                &copy;2017 
            </p>
            <p class="footer__copyrigth__text">
                we <span class="heart">❤︎</span> components
            </p>
        </div>
    </div>
</footer>