<!-- <header class="page__header">@@label</header> -->
<header class="head">
    <div class="header">
        <a href="#" class="header__buttom">
            <img src="./assets/icons/ico-menu.svg" alt="" class="header__buttom_icon">
        </a>
        <h1 class="header__title">Anonimous Proxy</h1>
        <p class="header__text">In hac habitasse platea dictumust.</p>
        <a href="#" class="header__link">
            <img src="./assets/icons/ico-scroll-down.svg" alt="go down" class="header__link__icon">
        </a>
    </div>
</header>
</header>
