<main class="main">
    <section class="section1">
        <article id="article" class="article">
            <p class="article__small">
                <small>Insomnia Tips</small>
            </p>
            <h2 class="article__title title">
                Looking Through A Window
            </h2>
            <p class="article__resume">
                Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus.Vivamus semper sodales rutrum.
            </p>
            <a href="#" class="article__buttom" name="article-buttom">Go</a>
        </article>
    </section>
    <section class="section2">
        <div class="reasons">
            <h2 class="reasons__title title">
                3 Reasons to purchase 
            </h2>
            <div class="reasons__text">
                <h3 class="reasons__text__title title">
                    Ut sed metus 
                </h3>
                <p class="reasons__text__text">
                    Lorem ipsum dolor sit amet, consecteur.
                </p>
            </div>
            <div class="reasons__text">
                <h3 class="reasons__text__title title">
                    Curabitur ac erat 
                </h3>
                <p class="reasons__text__text">
                    Mauris mattis urna quis lorem molestie.
                </p>
            </div>
            <div class="reasons__text">
                <h3 class="reasons__text__title title">
                    Morbi dictum 
                </h3>
                <p class="reasons__text__text">
                    Aliquam in dolor et dolor tincidunt.
                </p>
            </div>
            <a class="reasons__buttom" href="http://google.es">More reasons</a>
        </div>
    </section> 
</main>
