<main class="main">
    <article class="article">
        <p class="article__small">
            <small>Insomnia Tips</small>
        </p>
        <h2 class="article__title">
            Looking Through A Window
        </h2>
        <p class="article__resume">
            Donec accumsan, nulla ut volutpat porttitor, quamodio tempus felis, at luctus ex diam nec lectus.Vivamus semper sodales rutrum.
        </p>
        <buttom type="buttom" class="article__buttom" name="article-buttom">Go</buttom>
    </article>
</main>
