.head {
    background-image: url("../images/cover.jpg");
    background-size: cover; 
    background-position: center;   
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.nav {
    display: inline-block;
    
    &__buttom {
        background-color: $hamburger-color;
        width: 44px;
        height: 44px;
        display: flex;
        justify-content: center;
        position: fixed;
        top: 0px;
        left: 0px;
    }
}

.header {
    font-family: $text-font;
    width: 100%;
    height: 100%;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    color: $head-title-color;
    text-align: center;
    align-items: center;
    
    &__title {
        font-family: $title-font;
        text-transform: uppercase;
        flex-basis: 39%;
        font-size: 42px;
        font-weight: bold;
        line-height: 55px;
        max-width: 290px;
        margin: 0 auto;
        
        @media all and (min-width: 768px) {
            font-size: 80px;
            line-height: 106px;
        }
    }

    &__text {
        flex-basis: 6%;
        margin: 0;
    }

    &__b {
        flex-basis: 55%;
        flex-grow: 1;
        align-items: center;
        display: flex;
    }

    &__buttom {
        @include mx-xpand;

      
    }



}