@keyframes footer-buttom {
    from {
      transform: translateY(0);
    }

    25% {
        transform: translateY(-10px);
    }

    75% {
        transform: translateY(10px);
    }

    to {
        transform: translateY(0px);
    }
  }