@mixin mx-button {
    display: flex;
    text-decoration-line: none;
    align-items: center;
    justify-content: center;
    border-radius: 22.5px;
}

@mixin mx-xpand {
    grid-row: 4;
    background-color: $white;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-self: center;
}