$head-title-color: #fff;
$title-font: 'Roboto Slab', serif;
$text-font: 'Roboto', sans-serif;
$white: #fff;
$hamburger-color: #0271bc;
$small-color: #8ccbea;
$black: #000;
$buttom-color: #f26002;
$article-text-color: #4a4a4a;
$reasons-bg-color: #eff9ff;
$footer-bg-color: #304268;


